header{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
	background-color:rgb(20,24,33);
}
header .Logo img{
    width: 170px;
	border:solid 1px rgba(20,24,33,1)
	
}
header .onglet{
    text-align: right;
    padding-right: 30px;
} 
header .onglet a{
    padding: 0 5px;
    color: white;
}
main img{
	width:
	height
}	
main .ban .banner h4{
    text-align: center;    
}
main .ban .banner h1{
    text-align: center;
    font-size: 100px;
}
main .information{
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:50% 50%;
    width: 100;
    height: 100;
    gap: 5px;
    padding:0 5px;
}
main .information .pseudo img{
    width: 250;
}
main .information .pseudo{
    background: #f0f0f0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .information .pseudo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .information .slogan{
    background: #e8f5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}
main .information .titre{
    background: #e8f5ff;;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    font-size: 50px;
}
main .information .egslogan{
    display: flex;
    flex-direction: column;
    background: #e8f5ff;
    align-items: center;
    object-fit: cover;
}

footer{
	background-color:rgb(20,24,33);
	color:white;
	text-align:center;
}