body {
    background-image:url(back.jpg) ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: black;
}
header{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
	background-color:rgb(20,24,33);
}
header .Logo img{
    width: 170px;
	border:solid 1px rgba(20,24,33,1)
	
}
header .onglet{
    text-align: right;
    padding-right: 30px;
} 
header .onglet a{
    padding: 0 5px;
    color: white;
}
main .ban .banner h4{
    text-align: center;    
}
main .ban .banner h1{
    text-align: center;
    font-size: 100px;
}
main .presentation{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    
}

footer{
    background-color:rgb(20,24,33);
	color:white;
	text-align:center;
}