header{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
	background-color:rgb(20,24,33);
}
header .Logo img{
    width: 170px;
	border:solid 1px rgba(20,24,33,1)
	
}
header .onglet{
    text-align: right;
    padding-right: 30px;
} 
header .onglet a{
    padding: 0 5px;
    color: white;
}
main .banner{
    text-align: center;
}
main .bannerinfo{
    text-align: center;
}
main .banner h1{
    font-size: 100px;
}
main .info{
    text-align: center;
}
main .info h1{
    font-size: 70px;
}
footer{
    background-color:rgb(20,24,33);
	color:white;
	text-align:center;
}